# Импортирование библиотек

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

# Чтение учебного датасета

In [4]:
df = pd.read_csv("S02-hw-dataset.csv")

In [5]:
df.head()

   user_id   age country  purchases  revenue
0        1  25.0      FR          7      749
1        2  24.0      RU          5     1115
2        3  52.0      FR          7      399
3        4  31.0      RU          6      654
4        5   NaN      DE          6     1296

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    41 non-null     int64
 1   age        39 non-null     float64
 2   country    41 non-null     object
 3   purchases  41 non-null     int64
 4   revenue    41 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB

In [7]:
df.describe()

         user_id         age  purchases      revenue
count  41.000000   39.000000  41.000000    41.000000
mean   20.243902   36.512821   4.829268   820.048780
std    11.659289   18.304259   2.710189   613.127269
min     1.000000    5.000000  -1.000000     0.000000
25%    10.000000   24.000000   3.000000   432.000000
50%    20.000000   33.000000   5.000000   693.000000
75%    30.000000   45.500000   7.000000  1115.000000
max    40.000000  120.000000  11.000000  2475.000000

# Поиск пропусков по колонкам

In [41]:
for column in df.columns:
    print(f"Доля пропусков в колонке {column}: {df[column].isna().mean()*100:.2f}% ") if \
    df[column].isna().mean()*100 != 0 else print(f"В колонке {column} нет пропусков!")

В колонке user_id нет пропусков!
Доля пропусков в колонке age: 4.88%
В колонке country нет пропусков!
В колонке purchases нет пропусков!
В колонке revenue нет пропусков!

# Поиск полностью дублирующихся строк

In [62]:
print("Количество дубликатов:", df.duplicated().to_list().count(True))
print(df[df.duplicated()])

Количество дубликатов: 1
    user_id   age country  purchases  revenue
40       10  24.0      RU          7      511

# Вывод подозрительных случаев